<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang = "en">
	<meta charset = "UTF-8"/>
	 
	<title>Company Research</title>
	<link rel="stylesheet" href="/main.css" />
   <!-- The default CSS of Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class = "center">
		<h1>Company Research Site</h1>
		<h3>Got an interview coming up? Do all your company research on the one site </h3>
	</div>
	<br/>
	<div class="container">
	
	<div id = 'react'></div>
	
    </div>

	<script src="built/bundle.js"></script>
     <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

   

</body>

</html>